@mixin bp($point) {
  @if $point==xlg {
    @media (min-width: 90em) {
      @content;
    }
  }
  @else if $point==lg {
    @media (min-width: 64em) {
      @content;
    }
  }
  @else if $point==md {
    @media (min-width: 40em) {
      @content;
    }
  }
}

$light: #FAFAFA;
$dark: #212121;
$primary: #2196F3;
$warning: #e53935;
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.icon {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  use {
    pointer-events: none;
  }
}

.logo {
  display: block;
  margin: auto;
  min-width: 250px;
  max-width: 75%;
  margin: 2rem auto;
  @include bp(md) {
    max-width: 100%;
  }
  @include bp(lg) {
    min-width: 300px;
    margin: 4rem auto;
  }
}

.modal-open {
  overflow: hidden;
}
